
/* index html */

.general_background {
    background-image: url('https://news.emory.edu/features/2019/11/farms-to-tables/assets/84Dot3qgvr/farm-title-crop-2560x1440.jpeg');
    background-attachment: fixed;
    background-size: cover;
}


.div_first {
    background-color: rgb(255 255 255 / 70%);
    border-radius: 25px;
    top: 50%;
    width: 700px;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
}

.div_left {
    display: inline-block;
    position: relative;
    left: 8%;
}

.div_right {
    display: inline-block;
    min-width: 300px;
    width: 300px;
    height: 300px;
    position: relative;
    right: -20%;
    top: 20px;
}



.state1 {
    font-family: Tahoma;
    color: green;
    font-weight: bold;
    border: white;
    font-size: 45px;
}

.state2 {
    font-family: Tahoma;
    color: black;
    font-weight: bold;
}

.user_name {
    width: 250px;
    padding: 10px;
    /*    margin: 15px;*/
    text-align: center;
    color: grey;
    position: relative;
    left: 9%;
    top: 25px;
}

.password {
    width: 250px;
    padding: 10px;
    /*    margin: 15px;*/
    text-align: center;
    color: grey;
    position: relative;
    left: 9%;
    top: 35px;
}


.login_button {
    background-color: green;
    width: 250px;
    height: 41px;
    border: none;
    font-family: Tahoma;
    color: white;
    position: relative;
    left: 9%;
    top: 45px;
}

.register {
    font-family: Tahoma;
    color: black;
    font-size: 15px;
    position: relative;
    left: 10%;
    top: 42px;
}



/* register.html */

.div_first2 {
    background-color: rgb(255 255 255 / 70%);
    border-radius: 25px;
    top: 50%;
    width: 450px;
    height: 510px;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
}

.div_center {
    display: inline-block;
    min-width: 300px;
    width: 300px;
    height: 400px;
    position: relative;
    right: -25%;
    top: 50px;
}

.full_name_register {
    width: 250px;
    padding: 10px;
    /*    margin: 15px;*/
    text-align: center;
    color: grey;
    position: relative;
/*    left: 9%;*/
/*    top: 15px;*/
}

.user_name_register {
    width: 250px;
    padding: 10px;
    /*    margin: 15px;*/
    text-align: center;
    color: grey;
    position: relative;
    /*    left: 9%;*/
    /*    top: 25px;*/
}

.email_address_register {
    width: 250px;
    padding: 10px;
    /*    margin: 15px;*/
    text-align: center;
    color: grey;
    position: relative;
/*    left: 9%;*/
/*    top: 35px;*/
}

.password_register {
    width: 250px;
    padding: 10px;
    /*    margin: 15px;*/
    text-align: center;
    color: grey;
    position: relative;
/*    left: 9%;*/
/*    top: 45px;*/
}

.register_button {
    background-color: green;
    width: 250px;
    height: 41px;
    border: none;
    font-family: Tahoma;
    color: white;
    position: relative;
/*    left: 3%;*/
/*    top: 57px;*/
}

.login {
    font-family: Tahoma;
    color: black;
    font-size: 15px;
    position: relative;
    left: 3%;
    top: 10px;
}




/*Nevigation bar*/
.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #333;*/
    background-color: #77bc3e;
    min-width: 1043px;
}

.li_left {
    float: left;
    padding: 0px 10px 0px 0px;
}

/*.li_left:hover {
            background-color: green;
        }
*/

.li_right {
    float: right;
    padding: 0px 10px 0px 20px;
}


.dropdtn {
  color: white;
  border: none;
  background: #77bc3e;
      
}

.dropdown {
/*    position: relative;*/
    display: inline-block;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 70px;
/*  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
  z-index: 1;

}

.dropdown-content a {
    color: black;
    padding: 24px 16px;
    text-decoration: none;
    display: block;
    font-size: 13px;

}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

/* Home.html */

.logo_home {
    width: 190px;
}

.search_recipe {
    width: 530px;
    padding: 14px;
    top: 22px;
    text-align: center;
    color: grey;
    position: relative;
    background-color: #d7d2d2;
    border: none;
    left: 11%;
}

.profile_picture {
    width: 50px;
    position: relative;
    top: 19px;
    padding-left: 3px;
}

.profile_picture:hover:not(.active) {
    cursor: pointer;
}

.user_profile {
    font-family: Tahoma;
    color: white;
    font-weight: bold;
    border: white;
    font-size: 30px;
    float: right;
}

.title_slide_show {
    padding-top: 20px;
    font-weight: bold;
    padding-bottom: 19px;
    font-size: 23px;
}

.category_container {
    list-style: none;
    overflow-x: scroll;
    justify-content: flex-start;
    display: flex;
}

.picture {
    width: 80px;
    height: 80px;
    border-radius: 80px;
    background-color: #bbdea2;
    margin: 10px;

}


.picture:hover:not(.active) {
    background-color: green;
    cursor: pointer;
}

.picture:active {
    background-color: yellow;
}

.category {
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

/* trending recipes */
.picture_square {
    width: 194px;
    padding-right: 26px;
}

.picture_square:hover:not(.active) {
    cursor: pointer;
}

.remove_hyperlink {
    text-decoration: none;
    color: black;
}

/*home-selected.html*/
.picture-colored {
    width: 80px;
    height: 80px;
    border-radius: 80px;
    background-color: green;
    margin: 10px;
}


/*shopping-cart.html*/

.shopping_cart_title {
    font-size: 40px;
    margin: 18px;
    font-weight: bold;
}

.shopping_cart_pic {
    width: 780px;
}

.shopping_cart_subtitle {
    font-size: 20px;
    font-weight: bold;
}

.to_touch1 {
    cursor: pointer;
    border-color: red;
    margin: 10px;
    padding: 10px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 641px;
    left: 700px;
}

.to_touch2 {
    cursor: pointer;
    border-color: red;
    margin: 10px;
    padding: 10px;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 796px;
    left: 700px;
}

.to_touch3 {
    cursor: pointer;
    border-color: red;
    margin: 10px;
    padding: 10px;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 874px;
    left: 700px;
}

/* recipe1.html */

.recipe_title1 {
    font-size: 30px;
    font-weight: bold;
}

.review {
    width: 600px;
}

.recipe_title2 {
    font-size: 17px;
    font-weight: bold;
}

.recipe_pic {
    width: 200px;
}

.recipe_title3 {
    font-size: 17px;
    font-weight: bold;
}

.button-cart {
    background-color: #77bc3e; /* Green */
    /*    border: none;*/
    color: white;
    padding: 0px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-color: grey;
    position: absolute;
    bottom: -19px;
    left: 433px;
}

.button-cart1 {
    background-color: #77bc3e; /* Green */
    /*    border: none;*/
    color: white;
    padding: 0px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-color: grey;
    position: absolute;
    top: 160px;
    left: 637px;
}
/*.direction_recipe {
    border-style: solid;
    border-color:green;
}*/
/* review1.html .*/
.review_pic {
}


/* write-review1.html */
.write_review1 {
    color: gray;
}

.remove_hyperlink1 {
    text-decoration: none;
    color: black;
    /*    background-color: green;*/
    background-color: #77bc3e; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button {
    background-color: #77bc3e; /* Green */
    /*    border: none;*/
    color: white;
    padding: 0px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-color: grey;
    position: absolute;
    bottom: 60px;
}

.review_tump {
    width: 39px;
    position: relative;
    left: 363px;
    top: -54px;
    margin: 16px;
}

.star_rate {
    width: 222px;
    margin: 10px 0px;
}


/* user-settings.html*/
.remove_hyperlink2 {
    text-decoration: none;
    color: black;
    /*    background-color: green;*/
    background-color: #77bc3e; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /*    border: none;*/
    color: white;
    border-color: grey;
    position: absolute;
    margin: 26px 0px;
}

.remove_hyperlink2:hover:not(.active) {
    cursor: pointer;
}

/* ingredient.html */

.ingredient_picture1 {
    width: 355px;
    border: 1px solid grey;
    /*    border-color: grey;*/
}

.ingredient_picture2 {
    width: 165px;
    border: 1px solid grey;
    margin: 0px 60px;
}

.ingredient_picture3 {
    width: 422px;
    border: 1px solid grey;
    /*    border-color: grey;*/
}



.ingredient_container {
    list-style: none;
    overflow-x: scroll;
    justify-content: flex-start;
    display: flex;
/*    position: relative;*/
}

.possible_substitution {
    list-style: none;
    overflow-x: scroll;
    justify-content: flex-start;
    display: flex;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.s0 {
    position: relative;
    top:89px;
}

.s1 {
    position: relative;
    top: 89px;
}

.s2 {
    position: relative;
    top: 92px;
}

.s3 {
    position: relative;
    top: 120px;
}

/* trending recipes */
/*.picture_square {
    width: 194px;
    padding-right: 26px;
}

    .picture_square:hover:not(.active) {
        cursor: pointer;
    }*/


