
/* index html */

.general_background {
    background-image: url('https://news.emory.edu/features/2019/11/farms-to-tables/assets/84Dot3qgvr/farm-title-crop-2560x1440.jpeg');
    background-attachment: fixed;
    background-size: cover;
}


.div_first {
    background-color: rgb(255 255 255 / 70%);
    border-radius: 25px;
    top: 50%;
    width: 700px;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
}

.div_left {
    display: inline-block;
    position: relative;
    left: 8%;
}

.div_right {
    display: inline-block;
    min-width: 300px;
    width: 300px;
    height: 300px;
    position: relative;
    right: -20%;
    top: 20px;
}

.div_first2 {
    background-color: rgb(255 255 255 / 70%);
    border-radius: 25px;
    top: 50%;
    width: 700px;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
}

.div_center {
    display: inline-block;
    min-width: 300px;
    width: 300px;
    height: 300px;
    position: relative;
    right: -50%;
    top: 20px;
}

.state1 {
    font-family: Tahoma;
    color: green;
    font-weight: bold;
    border: white;
    font-size: 45px;
}

.state2 {
    font-family: Tahoma;
    color: black;
    font-weight: bold;
}

/*.lable_user_name {
    font-family: Tahoma;
    color: white;
}*/

.user_name {
    width: 250px;
    padding: 10px;
    /*    margin: 15px;*/
    text-align: center;
    color: grey;
    position: relative;
    left: 9%;
    top: 25px;
}
/*
.lable_password {
    font-family: Tahoma;
    color: white;
}*/


.password {
    width: 250px;
    padding: 10px;
    /*    margin: 15px;*/
    text-align: center;
    color: grey;
    position: relative;
    left: 9%;
    top: 35px;
}


.login_button {
    background-color: green;
    width: 250px;
    height: 41px;
    border: none;
    font-family: Tahoma;
    color: white;
    position: relative;
    left: 9%;
    top: 45px;
}

.register {
    font-family: Tahoma;
    color: black;
    font-size: 15px;
    position: relative;
    left: 10%;
    top: 75px;
}



/* register.html */

.full_name_register {
    width: 250px;
    padding: 10px;
    /*    margin: 15px;*/
    text-align: center;
    color: grey;
    position: relative;
/*    left: 9%;*/
    top: 15px;
}

.user_name_register {
    width: 250px;
    padding: 10px;
    /*    margin: 15px;*/
    text-align: center;
    color: grey;
    position: relative;
/*    left: 9%;*/
    top: 25px;
}

.email_address_register {
    width: 250px;
    padding: 10px;
    /*    margin: 15px;*/
    text-align: center;
    color: grey;
    position: relative;
/*    left: 9%;*/
    top: 35px;
}

.password_register {
    width: 250px;
    padding: 10px;
    /*    margin: 15px;*/
    text-align: center;
    color: grey;
    position: relative;
/*    left: 9%;*/
    top: 45px;
}


.age_register {
    width: 250px;
    padding: 10px;
    /*    margin: 15px;*/
    text-align: center;
    color: grey;
    position: relative;
    left: 3%;
    top: 27px;
}

.allergies_register {
    width: 250px;
    padding: 10px;
    /*    margin: 15px;*/
    text-align: center;
    color: grey;
    position: relative;
    left: 3%;
    top: 37px;
}

.zipcode_register {
    width: 250px;
    padding: 10px;
    /*    margin: 15px;*/
    text-align: center;
    color: grey;
    position: relative;
    left: 3%;
    top: 47px;
}

.register_button {
    background-color: green;
    width: 250px;
    height: 41px;
    border: none;
    font-family: Tahoma;
    color: white;
    position: relative;
    left: 3%;
    top: 57px;
}

.login {
    font-family: Tahoma;
    color: black;
    font-size: 15px;
    position: relative;
    left: 3%;
    top: 75px;
}




/*Nevigation bar*/
.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #333;*/
    background-color: #77bc3e;
    min-width: 1043px;
}

.li_left {
    float: left;
    padding: 0px 10px 0px 0px;
}

/*.li_left:hover {
            background-color: green;
        }
*/

.li_right {
    float: right;
    padding: 0px 10px 0px 20px;
}

.profile_picture:hover {
    background-color:green;
}
/*    li:last-child {
        border-right: none;
    }

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}*/
/*
.active {
    background-color: #04AA6D;
}
*/




/* Home.html */

.logo_home {
    width: 190px;
}

.search_recipe {
    width: 530px;
    padding: 14px;
    top: 22px;
    text-align: center;
    color: grey;
    position: relative;
    background-color: #d7d2d2;
    border: none;
    left: 11%;
}

.profile_picture {
    width: 50px;
    position: relative;
    top: 19px;
    padding-left: 3px;
}
}
.user_profile {
    font-family: Tahoma;
    color: white;
    font-weight: bold;
    border: white;
    font-size: 30px;
    float: right;
}

.title_slide_show {
    padding-top: 20px;
    font-weight: bold;
    padding-bottom: 19px;
    font-size: 23px;
}

.category_container {
    list-style: none;
    overflow-x: scroll;
    justify-content: flex-start;
    display: flex;
}

.picture {
    width: 80px;
    height: 80px;
    border-radius: 80px;
    background-color: #bbdea2;
    margin: 10px;
}


.picture:hover:not(.active) {
    background-color: green;
    cursor: pointer;
}

.picture:active {
    background-color: yellow;
}

.category {
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

/* trending recipes */
.picture_square {
    width: 194px;
    padding-right: 26px;
}

.picture_square:hover:not(.active) {
    cursor: pointer;
}

/*home-selected.html*/

.picture-colored {
    width: 80px;
    height: 80px;
    border-radius: 80px;
    background-color: green;
    margin: 10px;
}