<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Garlic</title>
    <!--<link href="../static/style.css" rel="stylesheet" type="text/css" />-->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename = 'images/logo/logo_garlic.png') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css') }}">
</head>

    

  
    

<body>



    <ul class="ul">

        <li class="li_left"> <a class="remove_hyperlink" href="home.html"> <image class="logo_home" src="{{url_for('static',filename = 'images/logo/logo_garlic.png')}}"> </li> </a>
        <li class="li_left"> <input class="search_recipe" type="text" id="fname" name="age" placeholder="Find a recipe"> </li>

        <li class="li_right"> <a class="remove_hyperlink" href="user-setting.html"> <image class="profile_picture" src="{{url_for('static',filename = 'images/general/setting-icon.png')}}"> </li> </a>
        <li class="li_right"> <a class="remove_hyperlink" href="shopping-cart.html"> <image class="profile_picture" src="{{url_for('static',filename = 'images/general/shopping-cart.png')}}"> </li> </a>



        <li class="li_right">

            <div class="dropdown">
                <button class="dropdtn"> <image class="profile_picture" src="{{url_for('static',filename = 'images/general/profile-icon.png')}}"> </button>
                <div class="dropdown-content">
                    <a href="{{ url_for('logout') }}">Log out</a>
                </div>

            </div>

        </li>





    </ul>

    <!--slideshow-->

    <div class="title_slide_show"> Dietary Restrictions </div>
    <div class="category_container">
        <span class="category"> <image class="picture" src="{{url_for('static',filename = 'images/categories1/lactose-intolerance.png')}}"> <br /> Lactose <br /> Intolerance </span>
        <span class="category"> <image class="picture" src="{{url_for('static',filename = 'images/categories1/gluten-intolerance.png')}}"> <br /> Gluten <br /> Intolerance </span>
        <span class="category"> <image class="picture" src="{{url_for('static',filename = 'images/categories1/vegetarian.png')}}"> <br /> Vegetarianian </span>
        <span class="category"> <a class="remove_hyperlink" href="home-selected.html"> <image class="picture" src="{{url_for('static',filename = 'images/categories1/vegan.png')}}"> <br /> Veganism </span> </a>
        <span class="category"> <image class="picture" src="{{url_for('static',filename = 'images/categories1/kosher.png')}}"> <br /> Kosher </span>
        <span class="category"> <image class="picture" src="{{url_for('static',filename = 'images/categories1/keto.png')}}"> <br /> Keto </span>
        <span class="category"> <image class="picture" src="{{url_for('static',filename = 'images/categories1/diabetes.png')}}"> <br /> Diabetes </span>
        <span class="category"> <image class="picture" src="{{url_for('static',filename = 'images/categories1/dairy-free.png')}}"> <br /> Dairy - Free </span>
        <span class="category"> <image class="picture" src="{{url_for('static',filename = 'images/categories1/low-carb.png')}}"> <br /> Low Carb </span>
        <span class="category"> <image class="picture" src="{{url_for('static',filename = 'images/categories1/nut-free.jpeg')}}"> <br /> Nut - Free </span>
    </div>




    <div class="title_slide_show"> Categories </div>
    <div class="category_container">
        <span class="category"> <image class="picture" src="{{url_for('static',filename = 'images/categories2/thai.jpeg')}}"> <br /> Thai </span>
        <span class="category"> <image class="picture" src="{{url_for('static',filename = 'images/categories2/italian.jpeg')}}"> <br /> Italian </span>
        <span class="category"> <image class="picture" src="{{url_for('static',filename = 'images/categories2/chinese.png')}}"> <br /> Chinese </span>
        <span class="category"> <image class="picture" src="{{url_for('static',filename = 'images/categories2/mexican.png')}}"> <br /> Mexican </span>
        <span class="category"> <image class="picture" src="{{url_for('static',filename = 'images/categories2/indian.png')}}"> <br /> Indian </span>
        <span class="category"> <image class="picture" src="{{url_for('static',filename = 'images/categories2/japanese.png')}}"> <br /> Japanese </span>
        <span class="category"> <image class="picture" src="{{url_for('static',filename = 'images/categories2/korean.png')}}"> <br /> Korean </span>
        <span class="category"> <image class="picture" src="{{url_for('static',filename = 'images/categories2/salad.png')}}"> <br /> Salad </span>
        <span class="category"> <image class="picture" src="{{url_for('static',filename = 'images/categories2/baked-goods.png')}}"> <br /> Baked Goods </span>
        <span class="category"> <image class="picture" src="{{url_for('static',filename = 'images/categories2/dessert.png')}}"> <br /> Dessert </span>
    </div>




    <div class="title_slide_show"> Trending Recipes </div>
    <div class="category_container">
        <span class="category"> <a class="remove_hyperlink" href="recipe1.html"> <image class="picture_square" src="{{url_for('static',filename = 'images/trending/1.png')}}"> </span> </a>
        <span class="category"> <image class="picture_square" src="{{url_for('static',filename = 'images/trending/2.png')}}"> </span>
        <span class="category"> <image class="picture_square" src="{{url_for('static',filename = 'images/trending/3.png')}}"> </span>
        <span class="category"> <image class="picture_square" src="{{url_for('static',filename = 'images/trending/4.png')}}"> </span>
        <span class="category"> <image class="picture_square" src="{{url_for('static',filename = 'images/trending/5.png')}}"> </span>
    </div>

    <div class="title_slide_show"> New Recipes </div>
    <div class="category_container">
        <span class="category"> <image class="picture_square" src="{{url_for('static',filename = 'images/new/1.png')}}"> </span>
        <span class="category"> <image class="picture_square" src="{{url_for('static',filename = 'images/new/2.png')}}"> </span>
        <span class="category"> <image class="picture_square" src="{{url_for('static',filename = 'images/new/3.png')}}"> </span>
        <span class="category"> <image class="picture_square" src="{{url_for('static',filename = 'images/new/4.png')}}"> </span>
        <span class="category"> <image class="picture_square" src="{{url_for('static',filename = 'images/new/5.png')}}"> </span>
    </div>


    


    <script src="{{url_for('static', filename='script.js')}}"></script>
</body>




</html>
