<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Garlic</title>
    <link href="../static/style.css" rel="stylesheet" type="text/css" />
<!-- {#    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}"> #} -->
</head>



<body class="general_background">

    <div class="div_first">

        <div class="div_left">
            <span class="state1"> Garlic </span> <br />
            <span class="state2"> Cook with your preference <br /> at your own kitchen. </span>
        </div>

        <div class="div_right">
            <form action="login" method="POST">
                {{ form.hidden_tag() }}
{#                <input class="user_name" type="text" id="fname" name="username" placeholder="Enter User Name" value="{{ request.form.username }}" autocomplete="off" required> <br>#}
                {{ form.username(class_="user_name", id="fname", placeholder="Enter User Name", autocomplete="off", value="") }}
{#                <input class="password" type="password" id="lname" name="password" placeholder="Password" value="{{ request.form.password }}" required>#}
                {{ form.password(class_="password", type="password", id="lname", placeholder="Password", value="") }}

                <button class="login_button">Login</button> <br />
            </form>
            <span class="register">New to Garlic? click here to <a href="register.html">register</a>.</span>
         {% if error %}
            <p class="error"><strong>Error:</strong> {{ error }}
         {% endif %}
        </div>


    </div>


    <script src="script.js"></script>
</body>




</html>
