<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Garlic</title>
    <!--<link href="../static/style.css" rel="stylesheet" type="text/css" />-->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename = 'images/logo/logo_garlic.png') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css') }}">
</head>

    

  
    

<body>



    <ul class="ul">

        <li class="li_left"> <a class="remove_hyperlink" href="home.html"> <image class="logo_home" src="{{url_for('static',filename = 'images/logo/logo_garlic.png')}}"> </li> </a>
        <li class="li_left"> <input class="search_recipe" type="text" id="fname" name="age" placeholder="Find a recipe"> </li>

        <li class="li_right"> <image class="profile_picture" src="{{url_for('static',filename = 'images/general/setting-icon.png')}}"> </li>
        <li class="li_right"> <a class="remove_hyperlink" href="shopping-cart.html"> <image class="profile_picture" src="{{url_for('static',filename = 'images/general/shopping-cart.png')}}"> </li> </a>
        <li class="li_right"> <image class="profile_picture" src="{{url_for('static',filename = 'images/general/profile-icon.png')}}"> </li>
    </ul>

    <!--slideshow-->

    <br />
    <div class="recipe_title1"> VEGAN SPAGHETTI SAUCE AND MEATBALLS </div>
    <div> <a class="remove_hyperlink" href="review1.html">  <image class="review" src="{{url_for('static',filename = 'images/recipe/review1.png')}}">  </div> </a>

    <div class="recipe_title2"> A delicius and iconic Italian dish best for any occasion! </div>
    <div>  <image class="recipe_pic" src="{{url_for('static',filename = 'images/recipe/spaghetti-sauce-meatballs.jpeg')}}">  </div>

    <br />
    <div class="recipe_title3"> <u> Ingredients </u> </div>
    <br />
    <div class="recipe_title2"> Meatballs </div>
    <form action="/action_page.php">
        <input type="checkbox"> <label for="vehicle1"> 1 pound of <a href=""> Impossible Ground Meat </a> </label><br>
        <input type="checkbox"> <label for="vehicle2"> 1 cup of fresh bread crumbs </label><br>
        <input type="checkbox"> <label for="vehicle3"> 1 tablespoon of dried parsley </label><br>
        <input type="checkbox"> <label for="vehicle1"> 1 tablespoon of grated Violife Vegan Parmesan cheese </label><br>
        <input type="checkbox"> <label for="vehicle2"> 1/4 teaspoon of ground black pepper </label><br>
        <input type="checkbox"> <label for="vehicle3"> 1/8 teaspoon of garlic powder </label><br>
        <input type="checkbox"> <label for="vehicle1"> 3 tablespoon aquafaba, beaten </label><br>
    </form>

    <div class="recipe_title2"> Sauce </div>
    <form action="/action_page.php">
        <input type="checkbox"> <label for="vehicle1"> 3/4 cup of chopped onions </label><br>
        <input type="checkbox"> <label for="vehicle2"> 5 cloves of garlic, minced </label><br>
        <input type="checkbox"> <label for="vehicle3"> 1/4 cup of olive oil </label><br>
        <input type="checkbox"> <label for="vehicle1"> 2 (100-gram) tomatoes, peeled and diced </label><br>
        <input type="checkbox"> <label for="vehicle2"> 2 teaspoons of salt </label><br>
        <input type="checkbox"> <label for="vehicle3"> 1 teaspoon of white sugar </label><br>
        <input type="checkbox"> <label for="vehicle1">  3/4 teaspoon of dried basil </label><br>
        <input type="checkbox"> <label for="vehicle1">  1/2 teaspoon of ground black pepper </label><br>
    </form>

    <div class="recipe_title2"> <u>  Kitchen Tools </u>  </div>
    <form action="/action_page.php">
        <input type="checkbox"> <label for="vehicle1"> Large wooden spoon </label><br>
        <input type="checkbox"> <label for="vehicle2"> Saucepan </label><br>
        <input type="checkbox"> <label for="vehicle3"> Large bowl </label><br>
    </form>

    <div class="recipe_title2"> <u>  Direction </u> </div>
    <div class="direction_recipe">
        1. In a large bowl, combine the ground Beyond Meat, bread crumbs, parsley, Violife Vegan Parmeasan cheese, 1/4 <br />
        teaspoon of black pepper, garlic powder and beaten egg. Mix well and form into 12 balls. Store, covered, in <br />
        refridgerator until needed. <br />
        2. In a large saucepan over medium heat, saute the onion and garlic in olive oil until the onion is translucent in color. <br />
        Stir in the tomatoes, salt and sugar. Cover, reduce the heat to low and simmer for 90 minutes. Stir in the <br />
        tomatoes, basil, 1/2 teaspoon of black pepper and meatballs. Simmer for 30 additional minutes. Serve.
    </div>

    <br />
    <div class="recipe_title2"> <u> Video </u> </div>
    <div>  <image class="recipe_pic" src="{{url_for('static',filename = 'images/recipe/video-spaghetti-sauce-meatballs.png')}}">  </div>


    <a href="{{ url_for('logout') }}">press here to logout</a>


    <script src="{{url_for('static', filename='script.js')}}"></script>
</body>




</html>
