<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Garlic</title>
{#    <link href="../static/style.css" rel="stylesheet" type="text/css" /> #}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename = 'images/logo/logo_garlic.png') }}">
</head>



<body class="general_background">

    <div class="div_first2">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <!--<div class="div_left">-->
            <div class="div_center">
                {{ form.username(class_="user_name_register", id="fname", placeholder="Enter User Name", autocomplete="off") }}
                <br>
                <br>
                {{ form.first(class_="full_name_register", id="fname", placeholder="Enter First Name", autocomplete="off", value="") }}
                <br>
                <br>
                {{ form.last(class_="full_name_register", id="fname", placeholder="Enter Last Name", autocomplete="off", value="") }}
                <br>
                <br>
                {{ form.email(class_="email_address_register", id="fname", placeholder="Enter Email Address", autocomplete="off", value="") }}
                <br>
                <br>
                {{ form.password(class_="password_register", type="password", id="lname", placeholder="Password", autocomplete="off", value="", minlength="5", maxlength="20") }}
                <br>
                <br>
                <input class="password_register" type="password" placeholder="Confirm Password"id="fname" name="fname">
                <br>
                <br>
                {{ form.submit(class_="register_button") }}
                <br />
                <span class="login">Not your first time? click here to <a href="/">login</a>.</span>
            </div>
        </form>

    </div>


    <script src="script.js"></script>
</body>


</html>
