<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Garlic</title>
    <!--<link href="../static/style.css" rel="stylesheet" type="text/css" />-->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename = 'images/logo/logo_garlic.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css') }}">
</head>

    

  
    

<body>



    <ul class="ul">

        <li class="li_left"> <a class="remove_hyperlink" href="home.html"> <image class="logo_home" src="{{url_for('static',filename = 'images/logo/logo_garlic.png')}}"> </li> </a>
        <li class="li_left"> <input class="search_recipe" type="text" id="fname" name="age" placeholder="Find a recipe"> </li>

        <li class="li_right"> <a class="remove_hyperlink" href="user-setting.html"> <image class="profile_picture" src="{{url_for('static',filename = 'images/general/setting-icon.png')}}"> </li> </a>
        <li class="li_right"> <a class="remove_hyperlink" href="shopping-cart.html"> <image class="profile_picture" src="{{url_for('static',filename = 'images/general/shopping-cart.png')}}"> </li> </a>



        <li class="li_right">

            <div class="dropdown">
                <button class="dropdtn"> <image class="profile_picture" src="{{url_for('static',filename = 'images/general/profile-icon.png')}}"> </button>
                <div class="dropdown-content">
                    <a href="{{ url_for('logout') }}">Log out</a>
                </div>

            </div>

        </li>

    </ul>

    <!--shopping cart-->

    <div class="shopping_cart_title"> Shopping List</div>

    <div> <image class="shopping_cart_pic" src="{{url_for('static',filename = 'images/shopping-cart-select2/1.png')}}">  </div>

    <br />
    <div class="shopping_cart_subtitle"> Where to buy </div>
    <br />
    <div class="shopping_cart_subtitle"> All in stock </div>

    <div> <image class="shopping_cart_pic" src="{{url_for('static',filename = 'images/shopping-cart-select2/2.png')}}">  </div>

    <div class="shopping_cart_subtitle"> Some in stock </div>

    <div> <image class="shopping_cart_pic" src="{{url_for('static',filename = 'images/shopping-cart-select2/3.png')}}">  </div>



    <a class="remove_hyperlink" href="shopping-cart-select.html"> <div class="to_touch1"> </div>  </a>
    <a class="remove_hyperlink" href="shopping-cart-select2.html"> <div class="to_touch2"> </div>  </a>
    <a class="remove_hyperlink" href="shopping-cart-select3.html"> <div class="to_touch3"> </div>  </a>

    <script src="{{url_for('static', filename='script.js')}}"></script>
</body>




</html>
